@import url('https://fonts.googleapis.com/css2?family=Lora&family=Noto+Sans:ital,wght@1,300&family=Playfair+Display:ital@1&family=Roboto&display=swap');
@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@300;400;500;600;700&display=swap");

*{
   
    box-sizing: border-box;
   
}

.navbar{
    position: sticky;
    top: 0;
}

.contenedorprincipal{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
  
}

#maquina-escribir1 {
    display: inline-block;
    font-size: 15px;
    border-right: 2px solid rgb(255, 255, 255);
    margin: 0;
    font-family: monospace;
    white-space: nowrap;
    color: white;

    height: 20px;
    animation: blink .40s infinite step-end alternate;
    overflow:hidden;
    
  }
  @keyframes blink {
    50% { border-color: transparent;
       }
   }

  #maquina-escribir4 {
    display: inline;
    border-right: 3px solid black;
  }

  .btn1{
    margin-top: 90px;
    

    
  padding:0.35em 1.2em;
  border:0.1em solid #FFFFFF;
/*margin:0 0.3em 0.3em 0;*/
  border-radius:0.12em;
  box-sizing: border-box;
  text-decoration:none;
  font-family:'Roboto',sans-serif;
  font-weight:300;
  color:#FFFFFF;
  text-align:center;
  transition: all 0.2s;
    
  }
  


  .btn1:hover{
    color:#000000;
    background-color:#FFFFFF;
}


#nav1{
    padding-right: 46%;
    margin-right: -145px;
    
}
#login{
    width: 100%;

  
  
  
  
}

.titulo1{
    text-align: center;
    padding-bottom: 100px;
}

.contenedor1{
   margin: 0px 20% 200px 20%;
   display: flex;
   
   align-items: center;
   flex-direction: row;

  
    
}
.contenedor-imagen{
   max-width: 400px;
   min-width: 300px;
  
    
    
}


img{
    max-width: 100%;
   
    height: auto;
}
 h1::after {
    content: "";
    position: relative;
    display: block;
    width: 50px;
    height: 3px;
    background: #0498e8;
   
    left: calc(50% - 25px);
}
.contenedortexto{
    font-family: "Raleway", sans-serif;
    padding-top: 30px;
    
   
    
    
}

  
/* ------------------------------------------------------------------------------------------------- */
#cv1{
    width: 100%;
    padding: 30px;
    
    
   
    
}



#cvv{
   display: flex;
   flex-direction: column;
   align-items: center;
   
   
   
}
h1,h2,h3,h4,h5{
    font-family: "Raleway", sans-serif;
}
h1{
    
    text-align: center;
    
    font-size: 32px;
    
}
#cvv h2{
   
    font-size: 1.25rem;
    
    margin: 35px 0px;
}
h3{
        font-size: 26px;
    font-weight: 400;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #222222;
}
h4{
    line-height: 18px;
    font-size: 18px;
    font-weight: 600;
    font-family: "Poppins", sans-serif;
    color: #026295;
    margin-bottom: 10px;
}
h5{
    font-size: 16px;
    background: #e9f7fe;
    padding: 5px 15px;
    display: inline-block;
    font-weight: 600;
    margin-bottom: 10px;
    color: #0498e8;
}

.imgCaja{
    display: inline-block;
    width: 50px;
    height: auto;
    margin-bottom: 36px;
    
}
.contenedorIcon i, .imgCaja{
    margin-left: 20px;
    font-size: 50px;
}
.aaa{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    
   
}
.cajaEducacion{
    display: inline-block;
    max-width: 500px;

    
    
}
.cajaExperiencia{
    display: inline-block;
    max-width: 500px;
    margin-left: 100px;
    
}




/*----------------------------------------------------------------------------------------------------------*/


#proyectos{
    height: 100vh;
    
}

.tituh1{
    margin: 30px 0px;
}

.c1{
    
    margin: 10px;
}

.c2{
    
    max-width: 500px;
    margin: 10px;
    margin-left: 60px;
}
.c2 a{
    padding-bottom: 10px;
}
.c2 p{
    padding-top: 10px;
}
.c2 h2{
    font-size: 1.50rem;
}
.ctn1{
    display: flex;
    flex-direction: column;
    justify-content: center ;
    
    
}

.c2 h3{
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: bold;
}



/* -----------------------------------------------------------------------------------------------------------------------*/

#contacto{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.tituloContacto{
    margin: 30px 0px;
}

.iconos img{
    width: 30px;
}

.iconos{
    display: flex;
   justify-content: space-between;
}

.iconos div{
    margin-top: 20px;
    margin-left: 15px;
    margin-right: 15px;
}

.iconos a{
    color: #000000;
  text-decoration: none;
  
}

.iconos p{
 display: inline-block;
 margin-top: 15px;
 
}



  form {
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    border-radius: 8px;
    width: 100%;
    max-width: 400px;
    box-sizing: border-box;
    
  }

  h1 {
    text-align: center;
    color: #333;
  }

  label {
    display: block;
    margin-bottom: 8px;
    color: #555;
  }

  input, textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }

  .buttonForm {
    background-color: #0498e8;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    box-sizing: border-box;
  }

  button:hover {
    background-color: #045be8;
  }


#quienSoy,
#cvv,
#proyectos,
#contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: auto;
    padding: 60px 0;
}


.zxc{
    display: flex;
    flex-direction: row;

}

.asd{
    display: flex;
    flex-direction: row;
}